n8n-workflows/01-memory-processing.json
{
  "name": "MemoryVerse AI - Processamento de Memórias",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "memory-created",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-memory-created",
      "name": "Webhook - Nova Memória",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "memory-created"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "memoryId",
              "value": "={{ $json.memoryId }}"
            },
            {
              "name": "userId",
              "value": "={{ $json.userId }}"
            },
            {
              "name": "story",
              "value": "={{ $json.story }}"
            },
            {
              "name": "format",
              "value": "={{ $json.format }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-variables",
      "name": "Extrair Dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": "gpt-4-turbo-preview",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Você é um roteirista profissional especializado em transformar histórias pessoais em roteiros cinematográficos emocionantes. Crie um roteiro detalhado com: 1) Título criativo, 2) Estrutura em 3 atos, 3) Descrições visuais ricas, 4) Diálogos (se aplicável), 5) Trilha sonora sugerida, 6) Mood/atmosfera."
            },
            {
              "role": "user",
              "content": "História: {{ $json.story }}\n\nFormato desejado: {{ $json.format }}\n\nCrie um roteiro profissional e emocionante."
            }
          ]
        },
        "options": {
          "temperature": 0.8,
          "maxTokens": 2000
        }
      },
      "id": "openai-script",
      "name": "GPT-4 - Gerar Roteiro",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "openAiApi": {
          "id": "1",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.format }}",
              "operation": "equals",
              "value2": "video"
            }
          ]
        }
      },
      "id": "if-video",
      "name": "É Vídeo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "generate",
        "prompt": "={{ $json.choices[0].message.content.split('Descrição visual:')[1].split('\\n')[0] }}",
        "model": "dall-e-3",
        "options": {
          "size": "1792x1024",
          "quality": "hd",
          "style": "vivid"
        }
      },
      "id": "dalle-images",
      "name": "DALL-E - Gerar Imagens",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [1050, 200],
      "credentials": {
        "openAiApi": {
          "id": "1",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.format }}",
              "operation": "equals",
              "value2": "music"
            }
          ]
        }
      },
      "id": "if-music",
      "name": "É Música?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "url": "https://api.suno.ai/v1/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.choices[0].message.content }}"
            },
            {
              "name": "duration",
              "value": "180"
            }
          ]
        },
        "options": {}
      },
      "id": "suno-music",
      "name": "Suno AI - Gerar Música",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1250, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "Suno AI API"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $env.VITE_APP_URL }}/api/trpc/memories.updateStatus",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "memoryId",
              "value": "={{ $json.memoryId }}"
            },
            {
              "name": "status",
              "value": "completed"
            },
            {
              "name": "videoUrl",
              "value": "={{ $json.videoUrl }}"
            },
            {
              "name": "musicUrl",
              "value": "={{ $json.musicUrl }}"
            }
          ]
        },
        "options": {}
      },
      "id": "update-memory",
      "name": "Atualizar Memória no DB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.VITE_APP_URL }}/api/trpc/notifications.createCustom",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "userId",
              "value": "={{ $json.userId }}"
            },
            {
              "name": "type",
              "value": "memory_completed"
            },
            {
              "name": "context",
              "value": {
                "memoryTitle": "={{ $json.title }}",
                "memoryId": "={{ $json.memoryId }}",
                "memoryFormat": "={{ $json.format }}",
                "thumbnailUrl": "={{ $json.thumbnailUrl }}"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "send-notification",
      "name": "Enviar Notificação",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": {
          "success": true,
          "message": "Memória processada com sucesso",
          "memoryId": "={{ $json.memoryId }}"
        }
      },
      "id": "respond-webhook",
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1850, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.VITE_APP_URL }}/api/trpc/memories.updateStatus",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "memoryId",
              "value": "={{ $json.memoryId }}"
            },
            {
              "name": "status",
              "value": "failed"
            },
            {
              "name": "error",
              "value": "={{ $json.error }}"
            }
          ]
        }
      },
      "id": "mark-failed",
      "name": "Marcar como Falha",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1450, 500]
    }
  ],
  "connections": {
    "Webhook - Nova Memória": {
      "main": [
        [
          {
            "node": "Extrair Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Dados": {
      "main": [
        [
          {
            "node": "GPT-4 - Gerar Roteiro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4 - Gerar Roteiro": {
      "main": [
        [
          {
            "node": "É Vídeo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Vídeo?": {
      "main": [
        [
          {
            "node": "DALL-E - Gerar Imagens",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "É Música?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Música?": {
      "main": [
        [
          {
            "node": "Suno AI - Gerar Música",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DALL-E - Gerar Imagens": {
      "main": [
        [
          {
            "node": "Atualizar Memória no DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Suno AI - Gerar Música": {
      "main": [
        [
          {
            "node": "Atualizar Memória no DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Memória no DB": {
      "main": [
        [
          {
            "node": "Enviar Notificação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Notificação": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-12-02T00:00:00.000Z",
  "versionId": "1"
}
